.appbar{
    width: 100%;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    color: whitesmoke;
    /* background: transparent; */
    /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.leftNav {
    display: flex;
    margin-left: 100px;
}

.rightNav {
    display: flex;
    margin-right: 100px
}



@media (max-width:780px) { 
    .leftNav {
         margin-left: 10px;
    }
    .rightNav {
    display: flex;
    margin-right: 10px
}
}