#root{
  z-index: -999999999;
  overscroll-behavior: none;
  overflow-y:hidden;
}

a {
  text-decoration: none;
}


.home {
  overscroll-behavior: none;
overflow-y:hidden;
}

.App {
    overscroll-behavior: none;
    overflow-y:hidden;

  width: 100vw;
  height: 100vh;
  z-index: -999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 69%, rgba(2,0,30,1) 78%, rgba(0,212,255,1) 85%, rgba(0,212,255,1) 100%); */
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 47%, rgba(88,91,232,1) 78%, rgba(141,88,232,1) 89%, rgba(137,70,252,1) 100%);
  /* background: url("../images/double-cat.png") no-repeat; */
  overflow-y: hidden;
}

 #image-canvas {
    z-index: 11;
    position: absolute;
    display: block;
    border-radius: 300px;
    /* width: 1000px;
    height: 600px; */
  overflow-y: hidden;


    } 

#game-canvas {
  z-index: 12;
  display: block;
  position: absolute;
  border-radius: 300px;
  /* width: 1000px;
  height: 600px; */
  overflow-y: hidden;

}


 #canvas-wrapper {
   /* width: 0;
   height: 0; */
   /* display: flex;
   width: 100%;
   height: 700px;
   justify-content: center; */
    /* width: 1000px;
    height: 600px; */
  overflow-y: hidden;

} 

.iframe {
  width: 60vw;
  height: 30vw;
  padding-bottom: 100px;
  padding-top: 100px;
}


.youtube-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}



@media (max-width:780px) {
  .App {
    background: black;
  }
  
 #image-canvas {
   
    border-radius: 0px;
    /* width: 1000px;
    height: 600px; */


    } 

#game-canvas {
 
  border-radius: 0px;
  /* width: 1000px;
  height: 600px; */
}

}