.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

strong {
    margin-top: 50px;
    font-family: monospace;
    font-size: 3em;
}
.smWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    max-width: 90vw;
}


.smIcon{ 
    margin: 15px;
    list-style: none;
}



@media (max-width:780px) {
    strong {
        font-size: 2em;
    }

    .contact {
         font-size: 2em;
    }
    .email{
         font-size: 1em;
    }

}

